ion-grid{
    padding: 0px;
    margin: 0px;
    ion-row{
        padding: 0px;
        margin: 0px;
        ion-col{
            padding: 0px;
            margin: 0px;
        }
    }
}
ion-item{
    margin:5px 5px 0 0;
    font-size: 14px;

}
