<ion-content [fullscreen]="true" color="light">

  <ion-header>
    <ion-toolbar 
      [style.--background]="'url(\'../../../../assets/img/litesoft-02.png/'  + '\') no-repeat center center/cover'">
      <ion-buttons slot="start">
        <ion-thumbnail class="menu">
          <ion-back-button color="primary" mode="md" defaultHref="/weather"></ion-back-button>
        </ion-thumbnail>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">

    <ion-item>
      <ion-label>
     نص تجريبي
        <p>
      نص تجريبي
          <ion-chip>
        نص تجريبي
          </ion-chip>
        </p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="'assets/img/litesoft-02.png'">
      </ion-thumbnail>
      <ion-label class="company">
        نص تجريبي
        <p>
          <ion-text color="medium">
            نص تجريبي

          </ion-text>
        </p>
      </ion-label>
      <ion-text slot="end">
        نص تجريبي

      </ion-text>
    </ion-item>

  </ion-list>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
  
      <ion-col size="10">
        <ion-button expand="block">
          <ion-text color="light">تقديم الطلبت</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>