

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div id="container">
      <div class="welcome-message"> 
        <ion-img src="../../assets/img/litesoft-02.png" [class.animated]=""></ion-img>
        <h1>مرحبا بكم في تطبيق لايت سوفت!</h1>
        <p>هذا التطبيق مقدم من شركة لايت سوفت</p>
      </div>

    <ion-button  horizontal="end"  >انتقل إلى الصفحة الرئيسية</ion-button>

   </div>
  
  
</ion-content>
<ion-footer  color="white">
  <ion-toolbar>

  <div class="footer-text" >
    جميع الحقوق محفوظة &copy; 2024 <a href="https://litesoftit.com/">لايت سوفت</a>
  </div>

  </ion-toolbar>
</ion-footer>