.welcome-message {
  text-align: center;
  margin: 20px;
}

.welcome-message h1 {
  margin-top: 50px;

  font-size: 24px;
  font-weight: bold;
}

.welcome-message p {
  margin-top: 25px;
  font-size: 16px;
}

ion-button {
  margin: 50px 20px;
  
  display: block;
}

.animated {
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}


.footer-text {
  text-align: center;

  color: #666;
}
.footer-text a {
  color: #64CCC5;
  text-decoration: none;
  font-weight: bold;
}
ion-footer {
  display: block;
  // position: relative;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  z-index: 10;
}

